<div class="BookingCalendar hidden--mobile">
  <div class="BookingCalendar-header">
    <a class="BookingCalendar-nav BookingCalendar-nav--prev" href="#"></a>
    <strong class="BookingCalendar-currentMonth"></strong>
    <a class="BookingCalendar-nav BookingCalendar-nav--next" href="#"></a>
  </div>
  <table class="BookingCalendar-dates">
    <thead>
      <tr>
        <% each_day_of_week do |day| %>
          <th><%= I18n.l(day, format: :day_of_week) %></th>
        <% end %>
      </tr>
    </thead>
  </table>

  <div class="BookingCalendar-mask">
    <table class="BookingCalendar-dates">
      <tbody class="BookingCalendar-datesBody">
        
      </tbody>
  </table>
</div>
</div>
