<div class="SlotPicker-timeSlots" tabindex="0">
  <h2 class="bold-small">Choose a time for your visit</h2>
  <ul class="SlotPicker-days">
    <li class="SlotPicker-day SlotPicker-day--past">
      <h3 class="SlotPicker-dayTitle"></h3>
      <p><%= t('.visit_in_the_past') %></p>
    </li>
    <li class="SlotPicker-day SlotPicker-day--unavailable">
      <h3 class="SlotPicker-dayTitle"></h3>
      <p><%= t('.visit_today') %></p>
    </li>
    <li class="SlotPicker-day SlotPicker-day--beyond">
      <h3 class="SlotPicker-dayTitle"></h3>
      <p><%= t('.bookability_window', days: '{{ daysInRange }}') %></p>
    </li>
    <li class="SlotPicker-day SlotPicker-day--leadtime">
      <h3 class="SlotPicker-dayTitle"></h3>
      <p><%= t('.required_notice') %></p>
    </li>
  </ul>
</div>
