<% content_for :header, t('.title') %>

<div class="grid-row">
  <div class="column-two-thirds">
    <p><%= t('visits.shared.request_new_visit_html', url: booking_requests_path) %></p>
  </div>
</div>

<%= render 'visit_id' %>
