references:
  defaults: &defaults
    working_directory: ~/repo

  github_team_name_slug: &github_team_name_slug
    GITHUB_TEAM_NAME_SLUG: prison-visits-booking

  deploy_container_config: &deploy_container_config
    resource_class: small
    docker:
      - image: ministryofjustice/cloud-platform-tools

  test_container_config: &test_container_config
    docker:
    - image: circleci/ruby:2.7.5-node-browsers
      environment:
        RAILS_ENV: test
        PGHOST: 127.0.0.1
        PGUSER: ubuntu
        RACK_ENV: test
    - image: circleci/postgres:12-alpine
      environment:
        POSTGRES_USER: ubuntu
        POSTGRES_PASSWORD: ""
        POSTGRES_DB: prisonvisitsbooking_test

  install_gpg: &install_gpg
    run:
      name: Install GPG
      command: |
        apk add \
          --no-cache \
          --no-progress \
          gnupg

  configure_gpg: &configure_gpg
    run:
      name: Configure GPG
      command: |
        echo "${GPG_PRIVATE_KEY}" | base64 -d | gpg --batch --allow-secret-key-import --import

  decrypt_secrets: &decrypt_secrets
    run:
      name: Decrypt secrets file
      command: |
        gpg --export-ownertrust > /tmp/ownertrust.txt
        echo $GPG_KEY_ID:1 >> /tmp/ownertrust.txt
        gpg --import-ownertrust /tmp/ownertrust.txt
        gpgconf --kill gpg-agent
        gpg-agent --daemon --allow-preset-passphrase
        /usr/libexec/gpg-preset-passphrase --preset --passphrase $GPG_PASSPHRASE $GPG_KEY_KEYGRIP_ID
        git-crypt unlock


  install_aws_cli: &install_aws_cli
    run:
      name: Set up aws
      command: |
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo apt-get update --allow-releaseinfo-change
        sudo apt-get --assume-yes install python3-pip
        sudo pip3 install awscli

  build_docker_image: &build_docker_image
    run:
      name: Build prison-visits-public docker image
      command: |
        export BUILD_DATE=$(date -Is) >> $BASH_ENV
        source $BASH_ENV
        docker build \
          --build-arg VERSION_NUMBER=${CIRCLE_BUILD_NUM} \
          --build-arg COMMIT_ID=${CIRCLE_SHA1} \
          --build-arg BUILD_DATE=${BUILD_DATE} \
          --build-arg BUILD_TAG=${CIRCLE_BRANCH} \
          -f Dockerfile.kubernetes -t app  .

  push_docker_image: &push_docker_image
    run:
      name: Push prison-visits-booking docker image
      command: |
        login="$(aws ecr get-login --region eu-west-2 --no-include-email)"
        ${login}
        docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:${CIRCLE_SHA1}"
        docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:${CIRCLE_SHA1}"
        if [ "${CIRCLE_BRANCH}" == "main" ]; then
          docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:latest"
          docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:latest"
        fi
      environment:
        <<: *github_team_name_slug
        REPONAME: prison-visits-public

version: 2
jobs:
  install_dependencies:
    <<: *defaults
    <<: *test_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - run:
        name: Which bundler?
        command: |
          bundle update --bundler
          bundle -v
    - restore_cache:
        keys:
        -  prison-visits-public-{{ checksum "Gemfile.lock" }}
    - run:
        name: Update npm
        command: 'sudo npm install -g npm@latest'
    - run:
        name: Install GOV.UK frontend modules
        command: sudo npm install -g npm@latest
    - run: bundle check --path vendor/bundle || bundle install --path vendor/bundle
    - save_cache:
        key:  prison-visits-public-{{ checksum "Gemfile.lock" }}
        paths:
        - ~/repo/vendor/bundle
    - persist_to_workspace:
        root: .
        paths:
        - vendor/bundle
        - node_modules/

  test:
    <<: *defaults
    <<: *test_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - run: bundle update --bundler
    - run: bundle --path vendor/bundle
    - run:
        name: Download Code Climate
        command: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
    - run:
        name: install firefox
        command: |
          if [[ $(command -v firefox) ]] && [[ $(firefox --version) == "Mozilla Firefox $FIREFOX_VERSION" ]]; then
            echo "Skiping, Firefox $FIREFOX_VERSION already install."
          else
            sudo rm -rf /opt/firefox
            wget -L "https://ftp.mozilla.org/pub/firefox/releases/$FIREFOX_VERSION/linux-x86_64/en-US/firefox-$FIREFOX_VERSION.tar.bz2" -O "firefox-$FIREFOX_VERSION.tar.bz2"
            sudo tar xjf "firefox-$FIREFOX_VERSION.tar.bz2" -C /opt
          fi
          [[ -L /usr/local/bin/firefox ]] || sudo ln -sf /opt/firefox/firefox /usr/bin/firefox
    - run:
        name: install geckodriver
        command: |
          if [[ $(command -v geckodriver) ]] && [[ $(geckodriver --version) =~ $GECKODRIVER_VERSION  ]]; then
            echo "Skiping, geckodriver $GECKODRIVER_VERSION already install."
          else
            wget https://github.com/mozilla/geckodriver/releases/download/v0.19.0/geckodriver-v0.19.0-linux64.tar.gz
            sudo tar -zxvf geckodriver-v0.19.0-linux64.tar.gz -C /opt
          fi
          [[ -L /usr/local/bin/geckodriver ]] || sudo ln -sf /opt/geckodriver /usr/local/bin/geckodriver
    - run:
        name: Rubocop
        command: bundle exec rubocop
    - run:
        name: Security analysis
        command: bundle exec brakeman -o ~/test-results/brakeman/brakeman.json -o ~/test-results/brakeman/brakeman.html
    - run:
        name: Run tests
        command: |
          ./cc-test-reporter before-build
          bundle exec rake
          ./cc-test-reporter after-build --coverage-input-type simplecov --exit-code $?
        environment:
          RAILS_ENV: test
          RACK_ENV: test
    # - run:
    #     name: Jasmine tests
    #     command: bundle exec rake jasmine:ci
    - store_test_results:
        path: coverage
    - store_artifacts:
        path: coverage
    - store_artifacts:
        path: ~/test-results

  build_and_push_docker_image:
    <<: *defaults
    <<: *test_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true
    - *install_aws_cli
    - *build_docker_image
    - *push_docker_image

  deploy_staging:
    <<: *deploy_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - run:
        name: Kubectl deployment staging setup
        command: |
          echo -n ${KUBE_ENV_STAGING_CACERT_LIVE} | base64 -d > ./ca.crt
          kubectl config set-cluster ${CLUSTER_NAME_LIVE} --certificate-authority=./ca.crt --server=https://${CLUSTER_NAME_LIVE}
          kubectl config set-credentials circleci --token=${KUBE_ENV_STAGING_TOKEN_LIVE}
          kubectl config set-context ${CLUSTER_NAME_LIVE} --cluster=${CLUSTER_NAME_LIVE} --user=circleci --namespace=${KUBE_ENV_STAGING_NAMESPACE}
          kubectl config use-context ${CLUSTER_NAME_LIVE}
    - *install_gpg
    - *configure_gpg
    - *decrypt_secrets
    - deploy:
        name: Deploy to staging
        command: |
            sed -i -e s/:latest/:$CIRCLE_SHA1/ deploy/staging/deployment.yaml
            # kubectl annotate deployments/prison-visits-public kubernetes.io/change-cause="$CIRCLE_BUILD_URL"
            kubectl apply --record=false -f ./deploy/staging
        environment:
          <<: *github_team_name_slug

  deploy_production:
    <<: *deploy_container_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - run:
          name: Kubectl deployment production setup
          command: |
            echo -n ${KUBE_ENV_PRODUCTION_CACERT_LIVE} | base64 -d > ./ca.crt
            kubectl config set-cluster ${CLUSTER_NAME_LIVE} --certificate-authority=./ca.crt --server=https://${CLUSTER_NAME_LIVE}
            kubectl config set-credentials circleci --token=${KUBE_ENV_PRODUCTION_TOKEN_LIVE}
            kubectl config set-context ${CLUSTER_NAME_LIVE} --cluster=${CLUSTER_NAME_LIVE} --user=circleci --namespace=${KUBE_ENV_PRODUCTION_NAMESPACE}
            kubectl config use-context ${CLUSTER_NAME_LIVE}
      - *install_gpg
      - *configure_gpg
      - *decrypt_secrets
      - deploy:
          name: Deploy to production
          command: |
            sed -i -e s/:latest/:$CIRCLE_SHA1/ deploy/production/deployment.yaml
            # kubectl annotate deployments/prison-visits-public kubernetes.io/change-cause="$CIRCLE_BUILD_URL"
            kubectl apply --record=false -f ./deploy/production
          environment:
            <<: *github_team_name_slug

workflows:
  version: 2
  build_and_test:
    jobs:
    - install_dependencies
    - test:
        requires:
          - install_dependencies
    - build_and_push_docker_image:
        requires:
          - test
    - deploy_staging_approval:
        type: approval
        requires:
          - build_and_push_docker_image
    - deploy_staging:
        requires:
          - deploy_staging_approval
    - deploy_production_approval:
        type: approval
        requires:
          - deploy_staging
        filters:
          branches:
            only: main
    - deploy_production:
        requires:
          - deploy_production_approval
        filters:
          branches:
            only: main
