references:
  defaults: &defaults
    working_directory: ~/repo

  github_team_name_slug: &github_team_name_slug
    GITHUB_TEAM_NAME_SLUG: prison-visits-booking

  deploy_container_config: &deploy_container_config
    resource_class: small
    docker:
      - image: ministryofjustice/cloud-platform-tools

  docker_container_config: &docker_container_config
    docker:
    - image: cimg/ruby:3.3.5-browsers
      environment:
        RAILS_ENV: test
        PGHOST: 127.0.0.1
        PGUSER: ubuntu
        RACK_ENV: test
        PRISON_API_HOST: https://prison-api-dev.prison.service.justice.gov.uk
        NOMIS_OAUTH_HOST: https://sign-in-dev.hmpps.service.justice.gov.uk
        VSIP_HOST: https://hmpps-manage-prison-visits-orchestration-dev.prison.service.justice.gov.uk
    - image: cimg/postgres:12.11
      environment:
        POSTGRES_USER: ubuntu
        POSTGRES_PASSWORD: ""
        POSTGRES_DB: prisonvisitsbooking_test

  # install_gpg: &install_gpg
  #   run:
  #     name: Install GPG
  #     command: |
  #       apk add \
  #         --no-cache \
  #         --no-progress \
  #         gnupg

  # configure_gpg: &configure_gpg
  #   run:
  #     name: Configure GPG
  #     command: |
  #       echo "${GPG_PRIVATE_KEY}" | base64 -d | gpg --batch --allow-secret-key-import --import

  # decrypt_secrets: &decrypt_secrets
  #   run:
  #     name: Decrypt secrets file
  #     command: |
  #       gpg --export-ownertrust > /tmp/ownertrust.txt
  #       echo $GPG_KEY_ID:1 >> /tmp/ownertrust.txt
  #       gpg --import-ownertrust /tmp/ownertrust.txt
  #       gpgconf --kill gpg-agent
  #       gpg-agent --daemon --allow-preset-passphrase
  #       /usr/libexec/gpg-preset-passphrase --preset --passphrase $GPG_PASSPHRASE $GPG_KEY_KEYGRIP_ID
  #       git-crypt unlock


  # install_aws_cli: &install_aws_cli
  #   run:
  #     name: Set up aws
  #     command: |
  #       wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
  #       sudo apt-get update --allow-releaseinfo-change
  #       sudo apt-get --assume-yes install python3-pip
  #       sudo pip3 install awscli

  build_docker_image: &build_docker_image
    run:
      name: Build prison-visits-public docker image
      command: |
        export BUILD_DATE=$(date -I) >> $BASH_ENV
        source $BASH_ENV
        docker build \
          --build-arg VERSION_NUMBER=${CIRCLE_BUILD_NUM} \
          --build-arg COMMIT_ID=${CIRCLE_SHA1} \
          --build-arg BUILD_DATE=${BUILD_DATE} \
          --build-arg BUILD_TAG=${CIRCLE_BRANCH} \
          --build-arg BUILD_NUMBER=${BUILD_DATE}.${CIRCLE_BUILD_NUM}.${CIRCLE_SHA1:0:6} \
          --build-arg GIT_BRANCH=${CIRCLE_BRANCH} \
          --build-arg GIT_REF=${CIRCLE_SHA1} \
          -t app  .

  # push_docker_image: &push_docker_image
  #   run:
  #     name: Push prison-visits-booking docker image
  #     command: |
  #       login="$(aws ecr get-login --region eu-west-2 --no-include-email)"
  #       ${login}
  #       docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:${CIRCLE_SHA1}"
  #       docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:${CIRCLE_SHA1}"
  #       if [ "${CIRCLE_BRANCH}" == "main" ]; then
  #         docker tag app "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:latest"
  #         docker push "${ECR_ENDPOINT}/${GITHUB_TEAM_NAME_SLUG}/${REPONAME}:latest"
  #       fi
  #     environment:
  #       <<: *github_team_name_slug
  #       REPONAME: prison-visits-public

version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.0.0
  aws-ecr: circleci/aws-ecr@8.2.1 # this orb doesn't support OIDC v2, so we use aws-cli to authenticate

commands:
  kubectl-setup:
    steps:
      - run:
          name: Kubectl Setup
          command: |
            echo -n ${KUBE_ENV_CACERT} | base64 -d > ./ca.crt
            kubectl config set-cluster ${KUBE_ENV_NAME} --certificate-authority=./ca.crt --server=${KUBE_ENV_API}
            kubectl config set-credentials circleci --token=${KUBE_ENV_TOKEN}
            kubectl config set-context ${KUBE_ENV_NAME} --cluster=${KUBE_ENV_NAME} --user=circleci --namespace=${KUBE_ENV_NAMESPACE}
            kubectl config use-context ${KUBE_ENV_NAME}

jobs:
  install_dependencies:
    <<: *defaults
    <<: *docker_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - run:
        name: Which bundler?
        command: bundle -v
    - restore_cache:
        keys:
        - prison-visits-public-{{ checksum "Gemfile.lock" }}
        - prison-visits-public-
    - run:
        name: Update npm
        command: 'sudo npm install -g npm@8.1.2'
    - run:
        name: Install GOV.UK frontend modules
        command: sudo npm install -g npm@8.1.2
    - run:
        name: Install Bundler
        command: |
          gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"
    - run: bundle check --path vendor/bundle || bundle install --path vendor/bundle
    - save_cache:
        key: prison-visits-public-{{ checksum "Gemfile.lock" }}
        paths:
        - vendor/bundle
    - persist_to_workspace:
        root: .
        paths:
        - vendor/bundle
        - node_modules/

  test:
    <<: *defaults
    <<: *docker_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - run: gem install bundler
    - run: bundle --path vendor/bundle
    - run: bundle exec rake db:create db:schema:load
    - run:
        name: Rubocop
        command: bundle exec rubocop
    - run:
        name: Security analysis
        command: bundle exec brakeman -o ~/test-results/brakeman/brakeman.json -o ~/test-results/brakeman/brakeman.html
    - run:
        name: Run tests
        command: bundle exec rake
        environment:
          RAILS_ENV: test
          RACK_ENV: test
          SENTRY_JS_DSN: ""
          SENTRY_DSN: ""
    # - run:
    #     name: Jasmine tests
    #     command: bundle exec rake jasmine:ci
    - store_test_results:
        path: coverage
    - store_artifacts:
        path: coverage
    - store_artifacts:
        path: ~/test-results

  build_and_push_docker_image:
    <<: *defaults
    <<: *docker_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - setup_remote_docker:
        docker_layer_caching: true
    - *build_docker_image
    - aws-cli/setup:
        role_arn: $ECR_ROLE_TO_ASSUME
        region: $ECR_REGION
    - run: |
        aws ecr get-login-password --region $ECR_REGION | docker login --username AWS --password-stdin ${AWS_ECR_REGISTRY_ID}.dkr.ecr.${ECR_REGION}.amazonaws.com
    - run:
        name: Setup, tag and push docker image
        command: |
          echo 'export DOCKER_TAGS=$CIRCLE_SHA1' >> $BASH_ENV
          docker tag app "${ECR_ENDPOINT}/${ECR_REPOSITORY}:${CIRCLE_SHA1}"
          if [ "${CIRCLE_BRANCH}" == "main" ]; then
            echo 'export DOCKER_TAGS=${DOCKER_TAGS},latest' >> $BASH_ENV
            docker tag app "${ECR_ENDPOINT}/${ECR_REPOSITORY}:latest"
          fi
          source $BASH_ENV
    - aws-ecr/push-image:
        tag: $DOCKER_TAGS
        region: $ECR_REGION
        repo: $ECR_REPOSITORY

  deploy_development:
    <<: *deploy_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - kubectl-setup
    - deploy:
        name: Deploy to development
        command: |
            sed -i -e s/:latest/:$CIRCLE_SHA1/ deploy/development/deployment.yaml
            kubectl apply --record=false -f ./deploy/development
        environment:
          <<: *github_team_name_slug

  deploy_staging:
    <<: *deploy_container_config
    steps:
    - checkout
    - attach_workspace:
        at: ~/repo
    - kubectl-setup
    # - *install_gpg
    # - *configure_gpg
    # - *decrypt_secrets
    - deploy:
        name: Deploy to staging
        command: |
            sed -i -e s/:latest/:$CIRCLE_SHA1/ deploy/staging/deployment.yaml
            # kubectl annotate deployments/prison-visits-public kubernetes.io/change-cause="$CIRCLE_BUILD_URL"
            kubectl apply --record=false -f ./deploy/staging
        environment:
          <<: *github_team_name_slug

  deploy_production:
    <<: *deploy_container_config
    steps:
      - checkout
      - attach_workspace:
          at: ~/repo
      - kubectl-setup
      # - *install_gpg
      # - *configure_gpg
      # - *decrypt_secrets
      - deploy:
          name: Deploy to production
          command: |
            sed -i -e s/:latest/:$CIRCLE_SHA1/ deploy/production/deployment.yaml
            # kubectl annotate deployments/prison-visits-public kubernetes.io/change-cause="$CIRCLE_BUILD_URL"
            kubectl apply --record=false -f ./deploy/production
          environment:
            <<: *github_team_name_slug

workflows:
  version: 2
  build_and_test:
    jobs:
    - install_dependencies
    - test:
        requires:
          - install_dependencies
    - build_and_push_docker_image:
        requires:
          - install_dependencies
    - deploy_development:
        context:
          - hmpps-common-vars
        requires:
          - build_and_push_docker_image
    - deploy_staging_approval:
        type: approval
        requires:
          - deploy_development
    - deploy_staging:
        requires:
          - deploy_staging_approval
        context:
          - prison-visits-public-staging
          - hmpps-common-vars
    - deploy_production_approval:
        type: approval
        requires:
          - deploy_staging
        filters:
          branches:
            only: main
    - deploy_production:
        requires:
          - deploy_production_approval
        context:
          - prison-visits-public-production
          - hmpps-common-vars
        filters:
          branches:
            only: main
