apiVersion: apps/v1
kind: Deployment
metadata:
  name: prison-visits-public
  labels:
    app: prison-visits-public
  annotations:
    kubernetes.io/change-cause: "<to be filled in deploy job command>"
spec:
  replicas: 4
  revisionHistoryLimit: 1
  minReadySeconds: 10
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 50%
    type: RollingUpdate
  selector:
    matchLabels:
      app: prison-visits-public
  template:
    metadata:
      labels:
        app: prison-visits-public
    spec:
      containers:
      - name: prison-visits-public
        image: 754256621582.dkr.ecr.eu-west-2.amazonaws.com/prison-visits-booking/prison-visits-public:latest
        imagePullPolicy: Always
        command: ['sh', '-c', "bundle exec puma -p 3000 -C ./config/puma_prod.rb --pidfile /tmp/server.pid"]
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /ping
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /ping
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 60
        resources:
          limits:
            memory: "500Mi"
            cpu: "50m"
          requests:
            memory: "125Mi"
            cpu: "15m"
        env:
        - name: SECRET_KEY_BASE
          valueFrom:
            secretKeyRef:
              name: prison-visits-public-secrets
              key: secret_key_base
        - name: RAILS_ENV
          value: "production"
        - name: RAILS_SERVE_STATIC_FILES
          value: "true"
        - name: KUBERNETES_DEPLOYMENT
          value: "true"
        - name: NOMIS_OAUTH_HOST
          value: "https://sign-in-dev.hmpps.service.justice.gov.uk"
        - name: NOMIS_STAFF_SLOT_AVAILABILITY_ENABLED
          value: "true"
        - name: PRISON_API_HOST
          value: "https://prison-api-dev.prison.service.justice.gov.uk"
        - name:  PRISON_VISITS_API
          value: "https://prison-visits-booking-staff-dev.apps.live.cloud-platform.service.justice.gov.uk/"
        - name: PUBLIC_PRISONS_WITH_SLOT_AVAILABILITY
          value: >
            Bedford,
            Feltham (Young People 15-18 only),
            Feltham (Young Adults 18-21 only),
            High Down,
            Hull,
            Medway Secure Training Centre,
            North Sea Camp,
            Nottingham,
            Swaleside,
            Whitemoor,
        - name: PUBLIC_SERVICE_URL
          value: "https://prison-visits-public-dev.apps.live.cloud-platform.service.justice.gov.uk"
        - name: EMAIL_DOMAIN
          value: "email-staging.pvb.dsd.io"
        - name: STAFF_PRISONS_WITH_SLOT_AVAILABILITY
          value: >
            Bedford,
            Feltham (Young People 15-18 only),
            Feltham (Young Adults 18-21 only),
            High Down,
            Hull,
            Medway Secure Training Centre,
            North Sea Camp,
            Nottingham,
            Swaleside,
            Whitemoor,
        - name: STAFF_SERVICE_URL
          value: "https://prison-visits-booking-staff-dev.apps.live.cloud-platform.service.justice.gov.uk"
        - name: SERVICE_URL
          value: "https://prison-visits-public-dev.apps.live.cloud-platform.service.justice.gov.uk"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: prison-visits-rds-instance-output
              key: url
        - name: REDIS_URL
          valueFrom:
            secretKeyRef:
              name: elasticache-redis
              key: url
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: prison-visits-public-secrets
              key: sentry_dsn
        - name: SENTRY_JS_DSN
          valueFrom:
            secretKeyRef:
              name: prison-visits-public-secrets
              key: sentry_js_dsn
        - name: WEB_CONCURRENCY
          valueFrom:
            secretKeyRef:
              name: prison-visits-public-secrets
              key: rails_web_concurrency
        - name: GOV_NOTIFY_API_KEY
          valueFrom:
            secretKeyRef:
              name: secrets
              key: GOV_NOTIFY_API_KEY
        - name: NOMIS_USER_OAUTH_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: hmpps-auth-secrets
              key: NOMIS_USER_OAUTH_CLIENT_ID
        - name: NOMIS_USER_OAUTH_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: hmpps-auth-secrets
              key: NOMIS_USER_OAUTH_CLIENT_SECRET
        - name: NOMIS_OAUTH_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: secrets
              key: NOMIS_OAUTH_CLIENT_ID
        - name: NOMIS_OAUTH_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: secrets
              key: NOMIS_OAUTH_CLIENT_SECRET
        - name: GA_TRACKING_ID
          valueFrom:
            secretKeyRef:
              name: prison-visits-public-secrets
              key: ga_tracking_id
        - name: VSIP_HOST
          value: 'https://hmpps-manage-prison-visits-orchestration-dev.prison.service.justice.gov.uk'