<div class="TimeoutPrompt" data-exit-path="<%= booking_requests_path %>" data-timeout-minutes="15" data-respond-minutes="5">
  <div class="TimeoutPrompt-alert error-summary alert-dialog  visuallyhidden" role="alertdialog" aria-labelledby="timeoutTitle" aria-describedby="timeoutDesc" tabindex="0" >
    <h2 id="timeoutTitle">
      <%= t('.title_html') %>
    </h2>
    <p id="timeoutDesc">
      <%= t('.continue_question') %>
    </p>
    <button class="TimeoutPrompt-extend button button-primary">
      <%= t('.yes_continue') %>
    </button>
  </div>
</div>
