<% if object.errors.any? %>
  <div id="error-summary" class="error-summary group" role="alert"
    tabindex="-1" aria-labelledby="error-heading">
    <p id="error-heading" class="heading-medium error-summary-heading">
      <%= t('.heading') %>
    </p>

    <% general_errors = object.errors[:general] %>

    <% if general_errors.any? %>
      <ul class="error-messages">
        <% general_errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <p>
      <%= t('.see_below') %>
    </p>

    <% if (defined? custom_message) %>
      <p class="error-message"><%= custom_message %></p>
    <% end %>

  </div>
<% end %>
