apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: prison-visits-public
  namespace: prison-visits-booking-production
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/temporal-redirect: https://www.gov.uk/prison-visits
spec:
  tls:
  - hosts:
    - www.prisonvisits.service.gov.uk
    secretName: prison-visits-public-www-secret
  - hosts:
    - prisonvisits.service.gov.uk
    - prison-visits-public-production.apps.live-1.cloud-platform.service.justice.gov.uk
    secretName: prison-visits-public-secret
  rules:
  - host: prison-visits-public-production.apps.live-1.cloud-platform.service.justice.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000
  - host: prisonvisits.service.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000
  - host: www.prisonvisits.service.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000

