apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: prison-visits-public
  namespace: prison-visits-booking-production
  annotations:
    kubernetes.io/ingress.class: "nginx"
    external-dns.alpha.kubernetes.io/set-identifier: prison-visits-public-prison-visits-booking-production-green
    external-dns.alpha.kubernetes.io/aws-weight: "100"
spec:
  tls:
  - hosts:
    - www.prisonvisits.service.gov.uk
    secretName: prison-visits-public-www-secret
  - hosts:
    - prisonvisits.service.gov.uk
    - prison-visits-public-production.apps.live.cloud-platform.service.justice.gov.uk
    secretName: prison-visits-public-secret
  rules:
  - host: prison-visits-public-production.apps.live.cloud-platform.service.justice.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000
  - host: prisonvisits.service.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000
  - host: www.prisonvisits.service.gov.uk
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000

