generic-service:
  image:
    repository: ghcr.io/ministryofjustice/prison-visits-public
    tag: app_version # overridden at deployment time
    port: 3000

  containerCommand: ["sh", "-c", "bundle exec puma -p 3000 -C ./config/puma_prod.rb --pidfile /tmp/server.pid"]

  fullnameOverride: "prison-visits-public"

  service:
    enabled: true
    type: ClusterIP
    port: 3000

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 20%

  ingress:
    enabled: true
    tlsSecretName: prison-visits-public-cert

  livenessProbe:
    httpGet:
      path: /ping
      port: 3000

  readinessProbe:
    httpGet:
      path: /ping
      port: 3000

  namespace_secrets:
    hmpps-auth-secrets:
      NOMIS_USER_OAUTH_CLIENT_ID: NOMIS_USER_OAUTH_CLIENT_ID
      NOMIS_USER_OAUTH_CLIENT_SECRET: NOMIS_USER_OAUTH_CLIENT_SECRET
    secrets:
      NOMIS_OAUTH_CLIENT_ID: NOMIS_OAUTH_CLIENT_ID
      NOMIS_OAUTH_CLIENT_SECRET: NOMIS_OAUTH_CLIENT_SECRET
      GOV_NOTIFY_API_KEY: GOV_NOTIFY_API_KEY
    use-vsip:
      USE_VSIP: USE_VSIP
    prison-visits-public-secrets:
      GA_TRACKING_ID: ga_tracking_id
      WEB_CONCURRENCY: rails_web_concurrency
      SENTRY_JS_DSN: sentry_js_dsn
      SENTRY_DSN: sentry_dsn
      SECRET_KEY_BASE: secret_key_base
    prison-visits-rds-instance-output:
      DATABASE_URL: url

  env:
    PRODUCT_ID: "DPS031"
    KUBERNETES_DEPLOYMENT: "true"

generic-prometheus-alerts:
  targetApplication: prison-visits-public
  alertSeverity: visits-alerts
  businessHoursOnly: false
