<% content_for :header do %>
  <%= t('.title') %>
<% end %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium"><%= t('.about_your_booking') %></h2>
    <p><%= t('.intro_html', url: link_directory.prison_finder) %></p>
    <%= t('.contact_list_html') %>
  </div>
</div>
