apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: prison-visits-public
  namespace: prison-visits-booking-staging
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
  - hosts:
    - prison-visits-public-staging.apps.cloud-platform-live-0.k8s.integration.dsd.io
  rules:
  - host: prison-visits-public-staging.apps.cloud-platform-live-0.k8s.integration.dsd.io
    http:
      paths:
      - path: /
        backend:
          serviceName: prison-visits-public
          servicePort: 3000