$button-border-radius: 4px;
$button-primary-color: $green;
$button-secondary-color: $grey-2;
$button-warning-color: $red;

.button {
  @include button($grey-3);
}

.button-primary {
  @include button($button-primary-color);
}

.button-secondary {
  @include button($button-secondary-color);
}

.button-warning {
  @include button($button-warning-color);
}

.button-link {
  display: inline-block;
  line-height: 1.25;
  padding: em(7) em(0) em(5) em(0);
}