.button-secondary {
  background-color: $grey-3;
  color: $black;
  @include prefix(box-shadow, 0 2px 0 $grey-1);
  &:hover {
    background-color: $grey-2;
  }
  &:active, &:focus {
    background-color: $grey-2;
  }
}
.button-link {
  background: none;
  border: none;
  color: $link-colour;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  &:hover {
    color: $link-hover-colour;
    text-decoration: none;
  }
  &:visited {
    color: $link-visited-colour;
  }
}
